@import "variables";


.banner { 
    background-color: $colorSecundario; 
    text-align: center;
    display: block;
    margin: 5% 10% 10% 10%;

    &__sub{ 
        background-color: $colorAltSec;
        }
    }
.mainBackground { 
    background-color: $colorPrimario;
    }
.bioBand {
    display: flex;
    flex-direction: row;
    font-family: $fuenteSecundaria;
    font-size: 2em;
    color: $colorTxtSec;
    background-color: $colorAltSec;
    }
.mainTitle {
    color: $colorTxtSec;
    font-family: $fuentePrincipal;
    font-size: 2em;
    margin-bottom: 1%;
    display: inline block;
    text-align: center;
     
    &__subtitle{ 
        color: $colorPrimario;
        font-family: $fuentePrincipal; 
        font-style: bold;
        display: block;
        justify-content: center;
        text-align: center;
        margin: 3px; 
        background-color: $colorAltSec;
         
            }
    &__subSubtitle{ 
        color: $colorPrimario;
        text-align: initial;
        font-family: $fuentePrincipal;
        font-style: bold;
        justify-content: center;
        text-align: center;
        display: block;
        margin: 1em;
        background-color: $colorAltSec;
        
            }
        } 
.btn {
    background-image: linear-gradient(to top, #ff903e, #a03100);
    }
.btn:hover{ 
    background-image: linear-gradient(to top, #a03100, #ff903e);
    
    }

.formContact {
    display: inline-block;
    justify-content: initial;
    padding: 0.5em;}

    
