.menuBar {
    position: sticky;
    z-index: 100;
    top: 2em;
    bottom: 2em;
    left: 3em;
    right: 3em;
    display: inline-block;
    font-size: 1em;
    font-family: '28-days-later';
    justify-content: center;
    
    }

ul {
    list-style-type: none;
    margin: 2px;
    padding: 2px;
    overflow: hidden;
    background-image: linear-gradient(to top, #1b1b1b, #424242);
    li {
        display: inline-block;
        padding: none;
        a {
            display: block;
            color:  #ffff;
            text-align: center;
            padding: 0.5em;
            text-decoration: none;  
                }
                a:hover {
                    background-image: linear-gradient(to bottom, #424242, #1b1b1b);
                    }        
                }           
    ul {
        position: absolute;
        display: none;
        li {
            display: block;
            }
        }
            
    li:hover ul {
        display: block;
        }
    }
    