$colorPrimario: #d86005;
$colorSecundario: #424242;
$colorTxt: #000000;
$colorTxtSec: #ffffff;
$colorAltPrim: #a03100;
$colorAltSec: #1b1b1b;
$colorAltTer: #ff903e;
$colorAltCuat: #6d6d6d;

$fuentePrincipal: "cabin sketch";
$fuenteSecundaria: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$margin: 10%;
$padding: 5%;



