@import "header";

@import "design";

@import "structure";

@import "variables";


.mainText {
    text-align: center;
    text-transform: capitalize;
    font-family: $fuentePrincipal;
    display: block;
    position: static;
    font-size: 1em;
    }

.backgroundImg {
    background-image: url(../Media/blackfire.jpg) ;
    background-size: contain;
    } 


.socialMedia { 
    display: grid;
    grid-template-columns: 6% 6% 6% 6% 6% 6%;
    grid-column-gap: 15%;
    justify-content: center;
    text-decoration: $colorTxt;
    &__bio{
        background-color: none;
        background-image: none;
        font-family: $fuentePrincipal;
        display: inline-block;

        }
    }






  









 
  









     
    
   
 

    
    